{% extends "base.html" %}
{% block title %}Welcome to My Office Admin{% endblock %}
{% block head %}Welcome to My Office Admin{% endblock %}
{% block content %}
{% if user.username %}
    <p>Welcome {{ user.username }}!
        Here you can view and create orders!</p><br/><br/>
        Click <a href="/order/">here</a> to create a new order.
{% else %}
    <p>Welcome anonymous user!
        You need to <a href="/login/">login</a>
        before you can view and edit orders.</p>
{% endif %}
{% endblock %}